
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* We set all elements to inherit box-sizing from their parent element (body) rather than setting it to border-box for each single one. and the body has box-sizing set to border-box which all of the elements will inherit */

}

p.red-text {
  color: red;
}

html {
  font-size: 62.5%;
  /* 10/16*100 we want the font size to be 10px the default browser font is 16px we divide 10 by 16 and multiply by 100 because we want the font in percentage */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}